#board-zone {
  .all-boards {
    display: flex;
    flex-flow: row wrap;
    * {
      pointer-events: auto;
    }
  }
  .single-board, .single-board-add {
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;

    * {
      pointer-events: none;
    }
  }
  .delete-board-link {
    position: absolute;
    right: 10px;
    bottom: 8px;
    color: grey;
    pointer-events: auto;
    &:hover {
      color: lightgray;
    }
  }
  .add-new-board {
    text-align: right;
  }
}

#add-new-board2 {
  background-color: darkgrey;
  h5 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#pin-zone {
  .edit-pin {
    color: lightgray;
    font-size: 1.5em;
    position: absolute;
    right: 4px;
    z-index: 10;
    &:hover {
      color: grey;
    }
  }
}