#board-zone {
  .single-board {
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 10px;

    * {
      pointer-events: none;
    }
  }
}

#pin-zone {
  margin: 1em;

  .single-pin {
    margin: 1em;
  }
}