#board-zone {
  .all-boards {
    display: flex;
    flex-flow: row wrap;
  }
  .single-board {
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;

    * {
      pointer-events: none;
    }
  }
  .delete-board-link {
    position: absolute;
    right: 10px;
    bottom: 8px;
    color: grey;
    pointer-events: auto;
    &:hover {
      color: lightgray;
    }
  }
  .add-new-board {
    text-align: right;
  }
}

#pin-zone {
  margin: 0;
  display: flex;
  flex-flow: row wrap;

  // * {
  //   pointer-events: none;
  // }

  .single-pin {
    margin: 1em;
  }

  .pin-header {
    width: 80%;
  }

  .edit-pin {
    color: grey;
    font-size: 1.5em;
    position: absolute;
    right: 4px;
    z-index: 10;
    &:hover {
      color: rgb(54, 54, 54);
    }
  }
}

#single-board-button {

  .close-board {
    color: darkred;
    font-size: 2em;
    float: right;
    margin-right: 20px;
  }
}